# Node.js modules
/Document_Manager_API/node_modules/

# Compiled output
/Document_Manager_API/dist/
/Document_Manager_API/build/

# TypeScript build info files
*.tsbuildinfo
..

# Logs
/Document_Manager_API/*.log
/Document_Manager_API/npm-debug.log*

# Environment files
/Document_Manager_API/.env

# VSCode settings
.vscode/

# Mac OS Finder files
/Document_Manager_API/.DS_Store
